<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" class="indexhtml">
<body>

   <header th:fragment="fr_header">
   
    <div class="header_wrap">
        <div class="header_nav">
            <span></span>
            <span></span>
            <span></span>
        </div>

        <div class="header_logo">로 고</div>

        <div class="header_login">로그인</div>
        <div class="header_join">회원가입</div>
        
        <!--- 로그인 유무에 따라 문구 변경
        <div class="header_login">마이페이지</div>
        <div class="header_join">로그아웃</div>
        -->
    </div>
		<!-- trigger -->
		<script>
			$('.header_nav').click(function() {
				$(this).toggleClass('popup')

			})
		</script>

	</header>

	<footer th:fragment="fr_footer">

	    <div class="footer_wrap">
	
	        <div class="footer_section">
	            <div class="footer_sec1">
	                먹구름 속 무지개
	                <br>
	                만나서 반가워요
	            </div>
				<!--이용약관 -->
		            <ul class="footer_sec2">
		                <li> 이용안내 </li>
		                <li> 고객센터 </li>
		                <li> 이용약관 </li>
		                <li> 개인정보 처리방침 </li>
		                <li> 운영정책 </li>
		            </ul>
		         <!--팀원정보 -->
		            <ul class="footer_sec3">
		                <li><a href="https://github.com/yuuulya">김율리아</a></li>
		                <li><a href="https://github.com/seoltaehyeok">설태혁</a></li>
		                <li><a href="https://github.com/mg-glter">신희수</a></li>
		                <li><a href="https://github.com/wjddns0882">이정운</a></li>
		                <li><a href="https://github.com/euntaek419">최은택</a></li>
		            </ul>
	
	        </div>
    </div>
	</footer>
	
	
</body>

</html>