<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" class="indexhtml">

<head>
</head>

<body>
<header th:fragment="login_idfind">

		<!-- 로그인 모달창 -->
	<div id="modal_idfind_login">
		<div class="modal_layer">
			<div class="modal_content">
				<div class="modal_content_title">
					<div class="modal_idfind_login_btn">
						<div style="width: 300px;">
							<img src="images/Logo_Color.png" id="logo_rainbow">
						</div>
						<div style="width: 300px;">
							<button type="button" id="modal_idfind_login_close_btn">x</button>
						</div>
					</div>
				</div>
				
					
						<input type="hidden" value="idfind">
						<!-- 폼 시작 -->

						<div id="text_nickname">닉네임</div> 
						<div id="nickname_line"> <br>
						
							<!--ID-->
							<input type=text name="nickname" id="nickname_nickname" maxlength="20"
								size="60" required="required" pattern="[a-z0-9]{5,20}">
							<!--영어 소문자 a-z 숫자0~9 5~20자리 사이 -->
							<hr style="width: 500px;">
						</div>
							<div id="text_email">이메일</div>
						<div id="email_line">
							<!--PW-->
							<input type="text" name="email" id="email_email" required="required"
								size="60">
							<hr style="width: 500px;">
						</div>
						<br>
						<!-- Login button -->
						<div id="login_idfind_btn" class="btn_form">
							<input type=button value="아이디 찾기" class="btn btn-dark"
								id="login_idfind_button" name='login_idfind_button'>
						</div>
						
			</div>
		</div>
	</div>
	<!-- 로그인 모달버튼 종료 -->
	
	
	<!-- IDFIND RESULT모달창 -->
<div id="modal_idfindresult">
	<div class="modal_layer">
		<div class="modal_content">
			<div class="modal_content_title">
				<div class="modal_idfind_login_btn">
						<div style="width: 150px;">
							<img src="images/Logo_Color.png" id="logo_rainbow">
						</div>
						<div style="width: 150px;">
							<button type="button" id="modal_idfind_login_close_btn">x</button>
						</div>
			</div>
			<font id="idfindresult_font" >아이디 <font id="idfind_red"></font> 입니다</font>
		</div>
	</div>
</div>
</div>

</header>
</body>
</html>