<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" class="indexhtml">

<head>
</head>

<body>

<header th:fragment="member_header">

		<!-- 로그인 모달창 -->
	<div id="modal_member">
		<div class="modal_layer">
			<div class="modal_content">
				<div class="modal_content_title">
					<div class="modal_member_btn">
						<div style="width: 300px;">
							<img src="images/Logo_Color.png" id="logo_rainbow">
						</div>
						<div style="width: 300px;">
							<button type="button" id="modal_member_close_btn">x</button>
						</div>
					</div>
				</div>
				
	<form action="/memberinsert" class="signup_form" method="post">
		<!-- 폼 시작 -->
		<div class="box">
			<div class="idname">
				<!-- ID -->
					<div id="text_member_id">아이디</div>
					<div id="nickname_line">		
				<input type=text minlength="5" maxlength="20" size="40" id="member_id_id" name="member_id"
					required="required" pattern="[a-z0-9]{5,20}"
					title="5~20자의 영문 소문자, 숫자만 가능합니다.">
					<hr style="width: 500px;">
					<font id="idcheck_font" size="2"></font>
			</div>
			</div>
			<br>
			
			
				<!-- 닉네임 -->
			<div class="nickname">
				<div id="text_nickname">닉네임</div>
				<div id="nickname_line"> 		
				<input type="text" id="nickname_id" name="nickname"
					required="required"  size="40" />
					<hr style="width: 500px;">
					<font id="nickname_font" size="2"></font>
			</div>
			</div>
			
			<br>
			
			<div class="email">
				<!-- email -->
				<div id="text_email">이메일</div>
				<input type="email" id="email_id" name="email" size="40" 
					required="required">
					<hr style="width: 500px;">
					<font id="email_font" size="2"></font>
			</div>
			<br>
			<div class="password">
				<!--PW-->
					<div id="text_password">비밀번호</div>	
				<input type="password" id="password_id" name="password"
					pattern="[a-z0-9 ]{6,12}" required="required"
					title="6~12자 영문 소문자와 숫자 조합을 사용하세요." value="" size="40"><br>
			<hr style="width: 500px;">
			</div>
			<br>
			<div class="passwordCheck">
				<!--PW_CHECK 비밀번호 재확인 -->
				<div id="text_password">비밀번호 확인</div>	
				<input type="password" name="repassword_name" id="repassword_id"
					required="required" size="40"> <br>
			<hr style="width: 500px;">
			<div class="pw_success_class" id="pw_success_id"
									style="font-size: 20px; color: green" hidden="hidden">
									비밀번호가 일치합니다.</div>
								<div class="pw_fail_class" id="pw_fail_id"
									style="font-size: 20px; color: red" hidden="hidden">비밀번호가
									일치하지 않습니다. 다시 확인해주세요.</div>
			</div><br>
			
			<br>
			
			<!--가입버튼-->
			<div id="btn_signup" class="btn_form">
				<input type="submit" value="가입하기"	id="button_signup">
				<!-- 버튼클릭 시 signup.js 내부 유효성검사 실행 -->
			</div>
		</div>
	</form>
	<!-- 폼 종료 -->					
						
		
			</div>
		</div>
	</div>
	<!-- 로그인 모달버튼 종료 -->
	
	
	<!-- IDFIND RESULT모달창 -->


</header>

</body>
</html>