<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" class="indexhtml">

<head>
</head>

<body>

<header th:fragment="member_header">

		<!-- 로그인 모달창 -->
	<div id="modal_member">
		<div class="modal_layer">
			<div class="modal_content">
				<div class="modal_content_title">
					<div class="modal_member_btn">
						<div style="width: 300px;">
							<img src="images/Logo_Color.png" id="logo_rainbow">
						</div>
						<div style="width: 300px;">
							<button type="button" id="modal_member_close_btn">x</button>
						</div>
					</div>
				</div>
				
	<form action="/memberinsert" class="signup_form" method="post">
		<!-- 폼 시작 -->
		<div class="top-intro">
			<h2>
				<!-- 상단 소개글 -->
				가입을 시작합니다!
			</h2>
		</div>
		<br>
		<div class="box">
			<div class="idname">
				<!-- ID -->
				<div>
					<strong>아이디</strong>
				</div>
				<input type=text minlength="5" maxlength="20" size="40" id="uid" name="member_id"
					required="required" placeholder="아이디 입력" pattern="[a-z0-9]{5,20}"
					title="5~20자의 영문 소문자, 숫자만 가능합니다.">
			</div>
			<br>
			
			<div class="nickname">
				<div>
					<strong>닉네임</strong>
				</div>
				<!-- 닉네임 -->
				<input type="text" placeholder="닉네임" name="nickname"
					required="required" id="nickname" size="40" />
			</div>
			
			<br>
			
			<div class="email">
				<!-- email -->
				<div>
					<strong>이메일</strong>
				</div>
				<input type="email" id="email" placeholder="이메일 입력" size="40" name="email"
					required="required">
			</div>
			<br>
			<div class="password">
				<!--PW-->
				<div>
					<strong>비밀번호</strong>
				</div>
				<input type="password" id="pw" name="password"
					placeholder="비밀번호 입력" pattern="[a-z0-9 ]{6,12}" required="required"
					title="6~12자 영문 소문자와 숫자 조합을 사용하세요." value="" size="40"><br>
			</div>
			<br>
			<div class="passwordCheck">
				<!--PW_CHECK 비밀번호 재확인 -->
				<div>
					<strong>비밀번호 재확인</strong>
				</div>
				<input type="password" name="repwd" id="repwd"
					placeholder="비밀번호 재입력" required="required" size="40"> <br>
			</div><br>
			
			<br>
			
			<!--가입버튼-->
			<div id="btn_signup" class="btn_form">
				<input type="submit" value="가입하기"	class="btn btn-dark">
				<!-- 버튼클릭 시 signup.js 내부 유효성검사 실행 -->
			</div>
		</div>
	</form>
	<!-- 폼 종료 -->					
						
						
						
			</div>
		</div>
	</div>
	<!-- 로그인 모달버튼 종료 -->
	
	
	<!-- IDFIND RESULT모달창 -->


</header>

</body>
</html>