.detail_wrap{
	height:800px;
	width:100%;
	background-color:rgb(255, 251, 211);
}

.detail_content{
	height:600px;
	width:80%;
	background-color:#dae3db;
	margin : 0 auto;
	
	position:relative;
}


.detail_comment{
	height:200px;
	width:80%;
	background-color:#dae0e3;
	margin : 0 auto;
	
	position:relative;
}




/*신고하기 버튼*/
.reportpostbtn{
	padding: 7px 10px;
    background-color: #ce4764;
    border-radius: 30px;
    border: none;
    outline: none;
    color: white;
    cursor: pointer;
    
    position: absolute;
    right: 10px;
    bottom: 10px;
    float: right;
    margin-top: 170px;
}
.reportcommentbtn{
	padding: 5px 10px;
    background-color: #ce4764;
    border-radius: 30px;
    border: none;
    outline: none;
    color: white;
    cursor: pointer;
    
    position: absolute;
    right: 10px;
    bottom: 10px;
    float: right;
    margin-top: 170px;
}
/* 신고하기 모달*/
#modal_report button:hover{
	cursor: pointer;
}
#modal_report {
	display: none;
	position: relative;
	width: 100%;
	height: 100%;
	z-index: 1;
}

#modal_report .modal_layer {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	/*화면 가운데 정렬*/
	display: flex; 
	align-items: center;
	justify-content: center;
	background: rgba(0, 0, 0, 0.4);
	z-index: -1;
}

#modal_report .modal_content {
	width: 350px;
	margin: 250px auto;
	padding: 20px 10px;
	border-radius: 10px;
	background: #fff;
	border: 2px solid #666;	
}
.modal_content_radio{
	margin: 8px 0px;
	border: 1px solid #666;
}
.modal_content_radio input[type="radio"] {
	margin: 0px 3px;
}

#modal_report h1 {
	margin: 3px;
}

#reportTxt{
	width: 100%;
	height: 80px;
	resize: none;
	border: 0px;
	background-color: rgb(209, 209, 209) ;
}
.modal_content_footer{
	margin-left:5px;
	font-size:13px;
}

.modal_report_btn{
	display: flex;
	flex-direction: row;
}

.modal_report_btn button{
	text-align: center;
}
#modal_report_close_btn {
    margin: 10px auto 0 auto;
    width: 70px;
    height: 25px;
    border: none;
    border-radius: 25px;
    color: black;
    background: #bdbdbd;
}

#modal_report_ok_btn {
	margin: 10px auto 0 auto;
    width: 70px;
    height: 25px;
    border: none;
    border-radius: 25px;
    color: white;
    background: #12379e;
}