
.detail_section{
    margin: 5% auto;
    border: 3px solid #000;
    width:70%;
    height: 700px;;
}

.detail_wrap{
    display: flex;
    height: inherit;
}

/* 왼쪽 - 사진, 감정표현 */

.detail_left{
    width: 45%;
    height:inherit;
    display: flex;
    flex-direction: column;
    position: relative;
}

.left_photo{
    width: 100%;
    height: inherit;
}

.left_img {
    width: 100%;
    height: 100%;
    object-fit: scale-down;
}

.left_emotion{
    width: 80%;
    height: 10%;
    position: absolute;
    bottom: 22%;  
    left:10%;
    display: flex;
    justify-content: center;
}

.emo_happy, .emo_angry, .emo_sad, .emo_worry{
   width: 50px;
    margin-right: 50px;
    height: 50px;
    color: #a8abca;
    background-color: transparent;
    border: none;
}


.emo_worry{
    margin-right: 0;
}

.emo_happy:hover{
	color:#e9615e;
}

.emo_angry:hover{
	color:#ffb616;
}

.emo_sad:hover{
	color:#66ad0e;
}

.emo_worry:hover{
	color:#468ade;
}


.num_check{
	margin-right: 50px;
    text-align: center;
}

.num_align{
	text-align: center;
}

/* 오른쪽 본문, 댓글, 댓글작성 */
.detail_right{
    border-left: 1px solid rgb(212, 210, 210);
    width: 55%;
    height : inherit;
    position:relative;
}

/* 본문 영역 */
.detail_content{
    width: 100%;
    height: 75%;
    display: flex;
    flex-direction: column;    height: auto;
    overflow: hidden;
    overflow-y: auto;
}
.content_write_title{
    width: 90%;
    height:10%;
    margin: 10px 20px 20px 25px;
    font-weight: bold;
    font-size: 23px;
    position:relative;
    display: flex;
    padding-bottom:20px;
}

.content_writer{
    display: inline;
    margin-top:10px;
    position:absolute;
    top:40px; 
    left:25px;
    font-size: 18px;
}

.content_write_time{
    position: absolute;
    top:28px;
    right:60px;
    font-weight: normal;
    font-size: 10px;
}



.content_line{
    width: 94%;
    margin: 20px 5px 20px 20px;
    padding-right: 20px;
    text-align: justify;

}

.written_comment_wrap{
    margin: 10px 0px;
    width:98%;
    height:auto;
    display: flex;
    flex-direction: column;
    padding:10px;
}

/* 작성된 댓글 영역 */
.written_writer{
    box-sizing: border-box;
    margin-bottom: 10px;
    height:auto;
    font-weight: bold;
    font-size: 15px;
    position:relative;
}

.written_comment_time{
    position:absolute;
    top:5px;
    right:50px;
    font-weight: normal;
    font-size: 10px;
}

.written_comment_delete{
    position: absolute;
    top: 0px;
    right: 10px;
    border: none;
    background-color: transparent;
    color: #1d3378;
}
.written_comment_delete:hover{
	color: #e31a15;
}

.written_content{
    box-sizing: border-box;
    height:auto
}


.written_br_top{
    border: 3px solid rgb(212, 210, 210);
    width: 95%;
    margin:20px auto;
}

.written_br_bottom{
    border: 1px dashed rgb(212, 210, 210);
    width: 95%;
    margin:20px auto;
}


/* 댓글영역  */
.detail_write_comment{
    box-sizing: border-box;
    width: 100%;
    height: 25%;
}

/* 댓글 작성자 */
.comment_writer{
    padding:20px 20px 10px 20px;
}
.comment_br{
    margin:20px auto 10px auto;
    border: 2px solid rgb(212, 210, 210);
    width: 95%;
}

/* 댓글 입력창 */
.comment_input{
        border: 1px solid rgb(212, 210, 210);
    box-sizing: border-box;
    width: 100%;
    height: 50%;
    display: flex;
    position: relative;
    flex-direction: column;
}
#test_cnt{
	text-align: right;
    padding-right: 100px;
}

.input_logo{
    box-sizing: border-box;
    width:80px;
    height: 50px;
    position: absolute;
    top:18px;
    left:10px;
    display:flex;
}

.comment_content{
        width: 72%;
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 100px;
    font-size: 16px;
    height: 28px;
}

/* 댓글 작성 버튼 */
.input_submit{
    box-sizing: border-box;
    width: 8%;
    height: 50%;
    position: absolute;
    top: 25px;
    right: 10px;
    border: none;
    background-color: #9f9d9d;
    color: white;
    border-radius: 10px;
    font-weight: bold;
    font-size: 14px;
}


.input_submit:hover{
	background-color:#1d3378
}
/* 나가기 버튼 */
.detail_close_btn{
    position: absolute;
    top:10px;
    right: 20px;
    font-size: 30px;
    color: #9f9d9d;
}

.detail_close_btn:hover{
	color: #1f439e;
}
/* 신고하기  */
/* 게시글 신고 */
.content_report{
    border: none;
    background-color: transparent;
    width: 5%;
    height: 4%;
    position: absolute;
    top: 2%;
    right: 2%;
    color: #9f9d9d;
}

.content_report:hover{
	color: #1f439e;
}
/* 댓글 신고 */
.comment_report{
    border: 1px solid red;
    position:absolute;
    top:0px;
    right:10px;
}

.overscroll{
	overflow: hidden;
    overflow-y: auto;
    height: 440px;
}