@font-face {
  font-family: 'Cafe24Ssurround';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24Ssurround.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.footer_wrap{
    height: 450px;
    background-color: rgb(29 51 120);
    font-size: 13px;
    position: relative;
}

.custom-shape-divider-top-1654532463 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1654532463 svg {
    position: relative;
    display: block;
    width: calc(300% + 1.3px);
    height: 129px;
}

.custom-shape-divider-top-1654532463 .shape-fill {
    fill: #f8f6ee;
}

.footer_section{
  display: flex;
  margin: 0px 20%;
  height: 200px;
  display: flex;
  padding-top: 160px;
  line-height: 40px;
  justify-content: center;
  column-gap: 300px;
  color: #f8f6ee;
  font-family: 'Cafe24Ssurround';
  font-size: 20px;
}

.footer_sec1{
    width: 150px;
}

.footer_sec1 img{
	width: 150px;
    padding-top: 40%;
}

.footer_sec2{
    width: 150px;
    line-height: 80px;
    padding-top: 10px;
}

.footer_sec3{
    left:640px;
    width: 150px;
}


.footer_sec3 li:nth-child(1)>a{
	color:#e9615e;
}

.footer_sec3 li:nth-child(2)>a{
	color:#e9d85e;
}

.footer_sec3 li:nth-child(3)>a{
	color:#87e95e;
}

.footer_sec3 li:nth-child(4)>a{
	color:#5e9ce9;
}

.footer_sec3 li:nth-child(5)>a{
	color:#6d5ee9;
}


