.header_wrap {
    height: 45px;
    margin: 0px;
    background-color: transparent;
    display: flex;
    flex-direction: row;
}

.header_logo {
    border: 1px solid blue;
    border-radius: 9px;
    position: absolute;
    left:70px;
    width:70px;
    height:20px;
    top:10px;
    text-align: center;
    padding-top: 5px;
    cursor: pointer;
    font-size: 12px;
}

.header_logo:hover{
    background-color: rgb(185, 185, 185);
    font-weight: bold;
}

.header_join{
    position: absolute;
    border: 1px solid rgb(68, 68, 11);
    border-radius: 9px;
    width : 70px;
    height: 20px;
    top:10px;
    text-align: center;
    padding-top: 5px;
    cursor: pointer;
    font-size: 12px;
    color: #fff;
    background-color: #7a78f0;
}

.loginpostbtn, .header_logout{
	position: absolute;
    border: 1px solid rgb(68, 68, 11);
    border-radius: 9px;
    width : 70px;
    height: 25px;
    top : 12px;
    text-align: center;
    padding-top: 5px;
    cursor: pointer;
    font-size: 12px;
    color: #fff;
    background-color: #7a78f0;
	
}

.loginpostbtn, .header_logout{
    right: 180px;
}

.header_join{
    right: 50px;
}

.loginpostbtn:hover, .header_join:hover, .header_logout:hover {
    background-color: #3d3bb3;
    font-weight: bold;
}
