@import url('https://fonts.googleapis.com/css2?family=Lemonada:wght@300;400;500;600;700&display=swap');

@font-face {
  font-family: 'Cafe24Ssurround';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24Ssurround.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}




.index_body{
  background-color:#f8f6ee;
}

.index_top_wrap {
  background-image: url("/images/main_background_turn.png");
  background-size: cover;
  width: 100%;
  height: 1200px;
  position: relative;
  z-index: 100;
}

.main_title {
  position: absolute;
  top:300px;
  left:180px;
  font-size: 120px;
  color:#faf5e9;
  font-family: 'Cafe24Ssurround';
}

.main_logo{
  position: absolute;
  top:230px;
  left:52%;
  transform:rotate(20deg);
}
.main_logo img{
	width:100px;
	height:100px;
}

.sub_title {
  position: absolute;
  top:440px;
  left : 180px;
  font-size: 30px;
  color:#faf5e9;
  font-family: 'Cafe24Ssurround';
}

.main_gobtn{
  position: absolute;
  top:600px;
  left:180px;
  border: 3px solid #faf5e9;
  color:#faf5e9;
  font-family: 'Cafe24Ssurround';
  font-size: 20px;
  width: 150px;
  height: 20px;
  border-radius:20px;
  padding:10px;
  text-align: center;
}

.main_gobtn:hover{
   background-color: #e9b202;
}

.main_gobtn:active{
  background-color: #e9b202;
}

/* top - shape divider css  */
.custom-shape-divider-bottom-1654497060 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1654497060 svg {
    position: relative;
    display: block;
    width: calc(135% + 1.3px);
    height: 128px;
}

.custom-shape-divider-bottom-1654497060 .shape-fill {
    fill: #1d3378;
}


/* 중간 사이트 소개  */
.main_info{
  background-color: #1d3378;
  width: 100%;
  height: 1000px;
  position : relative;
}

.infobox_wrap{
  display: flex;
  width: 80%;
  height:600px;
  position : absolute;
  left: 10%;
  top:10%;
  padding-top: 50px;
  column-gap: 50px;
  color: #1d3378;
  font-family: 'Cafe24Ssurround';
}


/* index 중간 설명박스 1  */
.infobox_no1{
  width: 550px;
  height: 480px;
  display: flex;
  position : relative;
  flex-direction: column;
  transition: all 2s;
}

.infobox_no1:hover .info_img1{
  transform: rotate(30deg);
}

.infobox_icon1{
  position : absolute;
  top:6%;
  left: 43%;
  text-align:center;
  margin-top: 80px; 
}

.keyboard{
  text-shadow: 0 0 5px #E9615E,
  0 0 5px #E9615E;
}


.infobox_title1{
  position : absolute;
  top:35%;
  left:33%;
  margin-top: 20px;
  font-size: 40px;
  font-weight: bold;
  text-align:center;
  color:#11204d;
}

.infobox_content1{
  position : absolute;
  top:50%;
  left:29%;
  margin-top: 5px;
  font-size: 20px;
  text-align:center;
  color:#1d3378;
}


/* index 중간 설명박스 2  */

.infobox_no2{
  width: 550px;
  height: 480px;
  display: flex;
  position : relative;
  flex-direction: column;
}

.infobox_no2:hover .info_img2{
  transform: rotate(30deg);
}

.infobox_icon2{
  position : absolute;
  top:5%;
  left: 46%;
  text-align:center;
  margin-top: 80px;
}

.heart{
  text-shadow: 0 0 10px #ffd000,
  0 0 10px #ffd000;
}


.infobox_title2{
  position : absolute;
  top:35%;
  left:36%;
  margin-top: 20px;
  height:60px;
  font-size: 40px;
  font-weight: bold;
  text-align:center;
  color:#11204d;
}

.infobox_content2{
  position : absolute;
  top:50%;
  left:28%;
  font-size: 20px;
  text-align:center;
  color:#1d3378;
}


/* index 중간 설명박스 3  */

.infobox_no3{
  width: 550px;
  height: 480px;
  display: flex;
  position : relative;
  flex-direction: column;
  transition: 0.3s;
}

.infobox_no3:hover .info_img3{
  transform: rotate(30deg);
}

.infobox_icon3{
  position : absolute;
  top:5%;
  left: 48%;
  text-align:center;
  margin-top: 80px;
}

.comment{ 
   text-shadow: 0 0 10px #2ad300,
  0 0 10px #2ad300;
}

.infobox_title3{
  position : absolute;
  top:35%;
  left:38%;
  margin-top: 20px;
  height:60px;
  font-size: 40px;
  font-weight: bold;
  text-align:center;
  color:#11204d;
}

.infobox_content3{
  position : absolute;
  top:50%;
  left:30%;
  margin-top: 5px;
  font-size: 20px;
  text-align:center;
  color:#1d3378;
}


.main_gobtn2{
  text-align:center;
  position: absolute;
  top:700px;
  left:45%;
  border: 3px solid #faf5e9;
  color:#faf5e9;
  font-family: 'Cafe24Ssurround';
  font-size: 20px;
  width: 150px;
  height: 20px;
  border-radius:20px;
  padding:10px;
  text-align: center;
}

.main_gobtn2:hover{
   background-color: #e9b202;
}

.main_gobtn2:active{
  background-color: #e9b202;
}


/* middle - shape divider css  */
.custom-shape-divider-bottom-1654498855 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1654498855 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 30px;
}

.custom-shape-divider-bottom-1654498855 .shape-fill {
    fill: #f8f6ee;
}


/* index box */
.box_section_wrap{
  position:relative;
}
.index_box_section {
  width: 1100px;
  margin: 80px 20% 300px 20%;
  text-align: center;
}

.box_section2{
  padding-top: 100px;
}

.box_section_title{
 font-size: 75px;
  padding-top: 66px;
  font-family: 'Lemonada', cursive;
  background: linear-gradient(to right top, #001f70, #c4cbef);
  color: transparent;
 -webkit-background-clip: text;
}

.box_section_subtitle {
 margin: 10px auto 50px auto;
 Font-size: 30px;
 font-family: 'Cafe24Ssurround';
     background: linear-gradient(to right top, #1d3378, #232266);
    color: transparent;
    -webkit-background-clip: text;
}

.title_red{
	color: #e9615e;
}

.index_box_wrap {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
}

.index_box {
  overflow: hidden;
  width: 300px;
  height: 300px;
  padding: 0px;
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 10px 10px 10px #1d337875;
  
}

.index_box:hover{
  box-shadow: 10px 10px 10px #b79a1075;
}
.index_box:hover .box_content {
  bottom: 80px;
  opacity: 1;
}

.box_link {
  height: 100%;
}

.box_img {
  width: 100%;
  height: 100%;
}

.box_title {
  position: absolute;
  top: 40%;
  width: 90%;
  font-weight: bold;
  font-size: 16px;
  padding: 0 12px;
  text-align: center;
  color:#11204d !important;
}

.box_content {
  position: absolute;
  bottom:-80px;
  height: 20px;
  font-size: 12px;
  padding: 0 12px;
  transition: 0.6s;
  opacity: 0;
  color:#1d3378 !important;
}

.ml3 {
  font-weight: 900;
  font-size: 3.5em;
}

.main_gobtn3{
    text-align: center;
    position: absolute;
    top: 700px;
    left: 48%;
    color: #11204d;
}

.main_gobtn3:hover .down_arrow{
  color: #e9b202;
}

.main_gobtn3:active .down_arrow{
  color: #e9b202;
}


/* 중간 박스 타이틀*/
.index_popular_boxsection, .index_new_boxsection{
  margin: 0 20%;
  text-align: center;
}

