.index_top_wrap {
  background: rgb(246, 116, 17);
  background: linear-gradient(318deg, rgba(246, 116, 17, 1) 0%, rgba(240, 246, 102, 1) 100%);
  width: 100%;
  height: 400px;
  position: absolute;
}

/* shape divider css  */
.custom-shape-divider-bottom-1654128152 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1654128152 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 100px;
}

.custom-shape-divider-bottom-1654128152 .shape-fill {
  fill: #fff;
}


/* index box */
.index_box_section {
  width: 1100px;
  margin: 30px 20% 220px 20%;
  text-align: center;
 
}

.box_section_title{
  margin: 20px;	
}

.box_section_subtitle {
  margin-bottom: 50px;
}

.index_box_wrap {
  display: flex;
  justify-content: space-around;
}

.index_box {
  border: 1px solid #000;
  overflow: hidden;
  width: 300px;
  height: 300px;
  padding: 0px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.box_link {
  height: 100%;
}

.box_img {
  width: 100%;
  height: 100%;
}

.box_title {
  position: absolute;
  top: 40%;
  width: 90%;
  font-weight: bold;
  font-size: 16px;
  padding: 0 12px;
  text-align: center;
}

.box_content {
  position: absolute;
  top: 65%;
  height: 20px;
  font-size: 12px;
  padding: 0 12px;
}