@charset "UTF-8";
/* 네비게이션 및 footer css */
* {
  margin: 0;
  padding: 0;
}

body {
  padding : 0px;
  margin: 0 auto;
  /* width:960px; */
}




/* login 관련 css */
.intro_container {
  margin: 50px;
}

.intro {
  width: 500px;
  margin: 0 auto;
}

.login_form {
  width: 500px;
  margin: 0 auto;
}




 #uid, #pw, #login_btn1{
  width: 100%;
  padding: 10px 20px;
  margin: 5px 0;
  box-sizing: border-box;
} 
 

.signup {
  text-align: center;
}