@charset "UTF-8";
/* 전체 페이지 margin, padding 0 으로 초기화*/
* {
  margin: 0;
  padding: 0;
}

body {
  padding : 0px;
  margin: 0 auto;
}

/* a태그 리셋 */
a{
  color: #fff; text-decoration: none; outline: none
} 

a:hover, a:active {
  text-decoration: none; 
  color:#fff; 
  background-color:#f59000;
}

/* ul, li 점 없애기 */
ul, li {
  list-style: none;
  padding-left: 0px;
}

