@import "reset.css";
@import "index.css";
@import "header.css";
@import "footer.css";

a{
  color: #fff; text-decoration: none; outline: none
} 

a:hover, a:active {
  text-decoration: none; 
  color:#fff; 
  background-color:#f59000;
}
