/*아이디 찾기 모달 폼 시작*/
.detail_content{
	/*position:relative;*/
}

/* 로그인 모달*/
#modal_writeform button:hover{
	cursor: pointer;
}

#modal_writeform {
	display: none;
	position: relative;
	width: 100%;
	height: 100%;
	z-index: 1;
}

#modal_writeform .modal_layer {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	/*화면 가운데 정렬*/
	display: flex; 
	align-items: center;
	justify-content: center;
	background: rgba(0, 0, 0, 0.4);
	z-index: -1;
}

#modal_writeform .modal_content { 
  width: 550px; /* 모달 크기 */
  height: 550px; /* 모달 크기 */
  padding: 27px 29px 40px 69px;
  object-fit: contain;
  border-radius: 10px;
  background-color: #fff;
}



.modal_writeform_btn{
	display: flex;
	flex-direction: row;
}

.modal_writeform_btn button{
	text-align: center;
}

#modal_writeform_close_btn {
  width: 35px;
  height: 35px;
  box-shadow: 0 0 10px 0 #cdcdcd;
  background-color: #fff;
  font-family: JalnanOTF;
  font-size: 16.5px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  object-fit: contain;
  line-height: 1.88;
  letter-spacing: -0.83px;
  text-align: center;
  color: #d2d6e6;
  border: none;
  outline: none;
  border-radius: 50px;
  margin-left: 220px;
  
}
/*모달 폼 종료*/

/* 로고 */
#logo_rainbow {
  width: 153px;
  height: 80px;
  margin: 30px 375px 66px 1px;
  object-fit: contain;
}

#writeform_button {
  width: 500px;
  height: 50px;
  margin: 20px 5px 25px 0;
  object-fit: contain;
  border-radius: 25px;
  background-color: #2f4fc6;
  font-size: 24px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
}

.writeformpostbtn {
	position: absolute;
    border: 1px solid rgb(68, 68, 11);
    border-radius: 9px;
    width : 70px;
    height: 25px;
    top : 12px;
    text-align: center;
    padding-top: 5px;
    cursor: pointer;
    font-size: 12px;
    color: #fff;
    background-color: #7a78f0;
}

.loginpostbtn, .header_logout{
    right: 240px;
}


