<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" class="indexhtml">
<head>
<meta charset="UTF-8">
<title>Board Test</title>
<!-- CSS -->
<link rel="stylesheet" href="/css/style.css" />
<link rel="stylesheet" href="/css/board.css" />
  <script type="text/javascript" src='/js/form.js'></script>
  <script type="text/javascript" src='/js/boxdot.js'></script>
</head>
<body class="boardlist_body">

<br> <br> <br> <br>

	<h1 style="text-align: center; padding:50px 30px 30px 30px;">고민 게시판</h1>
	<div class="container">
		
		<!-- <div>총 건수 : <sapn th:text="${boards.totalElements}"></sapn></div> -->

		<form class="form-inline d-flex justify-content-end" method="GET"
			th:action="@{/board/list}">
			<div class="form-group mx-sm-3 mb-2">
				<label for="searchText" class="sr-only">검색</label> <input
					type="text" class="form-control" id="searchText" name="searchText"
					th:value="${param.searchText}">
			</div>
			<button type="submit" id="board_btn">검색</button>
		</form>

		<form class="form-inline d-flex justify-content-end" method="GET"
			th:action="@{/board/old}">
			
			<button type="submit" class="btn btn-light mb-2" id="board_btn">오래된 순 정렬</button>
		</form>
		<form class="form-inline d-flex justify-content-end" method="GET"
			th:action="@{/board/list}">
			<button type="submit" class="btn btn-light mb-2" id="board_btn">최신 순 정렬</button>
		</form>
		<form class="form-inline d-flex justify-content-end" method="GET"
			th:action="@{/board/hits}">
			<button type="submit" class="btn btn-light mb-2" id="board_btn">조회 순 정렬</button>
		</form>
		<form class="form-inline d-flex justify-content-end" method="GET"
			th:action="@{/board/hot}">
			<button type="submit" class="btn btn-light mb-2" id="board_btn">인기 순</button>
		</form>
		
		<div class="list_box_section_wrap">

			<!-- box section - 1 -->
			<div class="list_box_section">

				<ul class="list_box_wrap">
					<!-- box (1-1) -->
					<li th:each="board  : ${boards}" class="list_box"><a
						class="list_box_link" th:href="@{/board/detail(id=${board.id})}">
							<div class="shadow"></div>
							<img class="list_box_img"  th:if="${board.imgPth != null}" th:src="@{${board.imgPth}}">
							<p th:text="${board.title}" class="list_box_title"></p>
							<p th:text="${board.content}" class="list_box_content"></p>
					</a></li>
				</ul>
			</div>
						<div class="text-right">
				<a type="button" class="btn btn-primary" th:href="@{/board/form}">글쓰기</a>
			</div>
		</div>
		</div>

</body>
</html>