<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" class="indexhtml">
<head>

  <!-- favicon -->
  <link rel="icon" href="/images/favicon.ico" type="image/x-icon" sizes="16x16">
  
  <!-- CSS -->
  <link rel="stylesheet" href="/css/style.css" />
  <link rel="stylesheet" href="/css/login.css" />
  <link rel="stylesheet" href="/css/login_idfind.css" />
  <!-- 
  <link rel="stylesheet" href="/css/login_pwfind.css" />
  <link rel="stylesheet" href="/css/member.css" />
  -->

   
  <!-- JAVASCRIPT -->
  <script src="https://code.jquery.com/jquery-latest.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
  <script type="text/javascript" src='/js/login.js'></script>
  <script type="text/javascript" src='/js/login_idfind.js'></script>
  <!-- 
  <script type="text/javascript" src='/js/login_pwfind.js'></script>
  <script type="text/javascript" src='/js/member.js'></script>
  -->
  
  <!-- fontawesome -->
  <script src="https://kit.fontawesome.com/c21d7630fc.js" crossorigin="anonymous"></script>

</head>
<title>먹구름 속 무지개</title>
<body class="index_body">
  <div class="index_top_wrap">
  
     <!-- import header -->
      <header th:replace="layout/fragment :: fr_header"></header>
      

    <button type="button" onclick="location.href='board/list';">게시판</button>
    <button type="button" onclick="location.href='board/detail';">게시판 상세페이지</button>
    <button type="button" onclick="location.href='board/form';">글작성 이동</button>
    <button type="button" onclick="location.href='/';">홈 이동</button>
    <button type="button" onclick="location.href='login';">로그인 이동</button>
    <button type="button" onclick="location.href='member';">회원가입 이동</button>
    <button type="button" onclick="location.href='/logout';">로그아웃</button>







	<h1 class="main_title">먹구름 속 무지개	</h1>
	<h1 class="main_logo"><img src="/images/title_logo.png"></h1>
    <h3 class="sub_title"> 
    당신의 고민을 함께 나누는 이 곳 </h3>

	<!-- 알아보기 → 소개글로 이동 -->
    <a href="#next_scroll" class="main_gobtn next_button">알아보기 <i class="fa-solid fa-angles-down"></i> </a>


   <!-- shape divider -->
   <div class="custom-shape-divider-bottom-1654497060">
    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
        <path d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z" class="shape-fill"></path>
    </svg>
</div>
    
  </div>

    <!-- !! 소개글 이동지점 -->
    <div id="next_scroll"></div>
  <div class="main_info">
  
    <div class="infobox_wrap">

      <div class="infobox_no1">
        <img class="info_img1" src="images/infobox1.svg">
        <div class="infobox_icon1">
          <i class="fa-solid fa-pen-to-square fa-3x keyboard"></i>
        </div>
        <div class="infobox_title1">
          고민일기
        </div>
        <div class="infobox_content1">
          나의 고민을 <br>
          자유롭게 남겨보세요
        </div>
      </div>

      <div class="infobox_no2">
        <img class="info_img2" src="images/infobox2.svg">
        <div class="infobox_icon2">
           <i class="fa-solid fa-heart-circle-check fa-3x heart"></i>
        </div>
        <div class="infobox_title2">
          감정표현
        </div>
        <div class="infobox_content2">
          고민글을 읽고<br>
          감정표현을 남겨주세요
        </div>
      </div>


      <div class="infobox_no3">
        <img class="info_img3" src="images/infobox3.svg">
        <div class="infobox_icon3">
          <i class="fa-solid fa-comment-medical fa-3x comment" ></i>
        </div>
        <div class="infobox_title3">
          위로하기
        </div>
        <div class="infobox_content3">
          타인의 고민을 읽고 <br>
          따뜻한 댓글을 남겨주세요
        </div>
      </div>
    </div>
    
   	<!-- 둘러보기 → 인기글로 이동  -->
   <a href="#next_scroll2" class="main_gobtn2 next_button2">둘러보기 <i class="fa-solid fa-angles-down"></i></a>

    
    <div class="custom-shape-divider-bottom-1654498855">
      <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
          <path d="M0,0V7.23C0,65.52,268.63,112.77,600,112.77S1200,65.52,1200,7.23V0Z" class="shape-fill"></path>
      </svg>
  </div>

  </div>




  <!-- !! 인기글 이동지점 -->
  <div id="next_scroll2"></div>
 
 <div class="box_section_wrap">
 
<!-- box section - 1 -->
<div class="index_box_section" id="index_box_section">
  <h3 class="box_section_title"> TODAY TOP </h3>
  <P class="box_section_subtitle"> 오늘의 인기글을 만나보세요 </P>

  <ul class="index_box_wrap">
    <!-- box (1-1) -->
    <li class="index_box">
      <a class="box_link" href="#">
        <img class="box_img" src="https://bit.ly/3aF4Kt7">
        <p class="box_title"> 월요일 월요일 월요일 월요일 월요일 월요일 월요일 </p>
        <p class="box_content">
          우는 오는 마리아 별이 별 그리워 새겨지는 계십니다. 무성할 밤을 어머님, 아이들의 옥 잔디가 언덕 어머니, 때 거외다. 위에도 벌레는 말 버리었습니다. 다하지 아스라히 된 내린 가득 다
          있습니다. 된 이름을 라이너 별 아직 잔디가 하나에 새겨지는 때 봅니다. 말 너무나 무덤 별 하나 계십니다. 이름자 이름을 프랑시스 나의 하나에 하나에 있습니다. 계집애들의 노새, 하나에
          내린 보고, 봅니다. 계집애들의 없이 계절이 있습니다.
        </p>
      </a>
    </li>

    <!-- box (1-2)  -->
    <li class="index_box">
      <a class="box_link" href="#">
        <img class="box_img" src="https://bit.ly/3aF4Kt7">
      <p class="box_title"> 화요일 화요일 화요일 화요일 화요일 화요일 화요일 화요일 화요일 </p>
      <p class="box_content">
        우는 오는 마리아 별이 별 그리워 새겨지는 계십니다. 무성할 밤을 어머님, 아이들의 옥 잔디가 언덕 어머니, 때 거외다. 위에도 벌레는 말 버리었습니다. 다하지 아스라히 된 내린 가득 다
        있습니다. 된 이름을 라이너 별 아직 잔디가 하나에 새겨지는 때 봅니다. 말 너무나 무덤 별 하나 계십니다. 이름자 이름을 프랑시스 나의 하나에 하나에 있습니다. 계집애들의 노새, 하나에 내린
        보고, 봅니다. 계집애들의 없이 계절이 있습니다.
      </p>
      </a>
    </li>

    <!-- box (1-3)  -->
    <li class="index_box">
      <a class="box_link" href="#">
        <img class="box_img" src="https://bit.ly/3aF4Kt7">
      <p class="box_title"> 수요일 수요일 수요일 수요일 수요일 수요일 수요일 수요일 </p>
      <p class="box_content">
        우는 오는 마리아 별이 별 그리워 새겨지는 계십니다. 무성할 밤을 어머님, 아이들의 옥 잔디가 언덕 어머니, 때 거외다. 위에도 벌레는 말 버리었습니다. 다하지 아스라히 된 내린 가득 다
        있습니다. 된 이름을 라이너 별 아직 잔디가 하나에 새겨지는 때 봅니다. 말 너무나 무덤 별 하나 계십니다. 이름자 이름을 프랑시스 나의 하나에 하나에 있습니다. 계집애들의 노새, 하나에 내린
        보고, 봅니다. 계집애들의 없이 계절이 있습니다.
      </p>
      </a>
    </li>
  </ul>
</div>
   	<!-- 아래방향 화살표→ 최근글로 이동  -->
   <a href="#next_scroll3" class="main_gobtn3 next_button3">
     <i class="fa-solid fa-angles-down fa-2x down_arrow"></i>
   </a>


  <!-- !! 최근글 이동지점 -->
  <div id="next_scroll3"></div>
  
  
<!-- box section -2 -->
<div class="index_box_section box_section2" id="index_box_section">
  <h3 class="box_section_title"> LATEST POST </h3>
  <P class="box_section_subtitle"> 가장 최근에 올라온 게시물 </P>

  <ul class="index_box_wrap">
    <!-- box (2-1) -->
    <li class="index_box">
      <a class="box_link" href="#">
        <img class="box_img" src="https://bit.ly/3aF4Kt7">
        <p class="box_title"> 월요일 월요일 월요일 월요일 월요일 월요일 월요일 </p>
        <p class="box_content">
          우는 오는 마리아 별이 별 그리워 새겨지는 계십니다. 무성할 밤을 어머님, 아이들의 옥 잔디가 언덕 어머니, 때 거외다. 위에도 벌레는 말 버리었습니다. 다하지 아스라히 된 내린 가득 다
          있습니다. 된 이름을 라이너 별 아직 잔디가 하나에 새겨지는 때 봅니다. 말 너무나 무덤 별 하나 계십니다. 이름자 이름을 프랑시스 나의 하나에 하나에 있습니다. 계집애들의 노새, 하나에
          내린 보고, 봅니다. 계집애들의 없이 계절이 있습니다.
        </p>
      </a>
    </li>

    <!-- box (2-2)  -->
    <li class="index_box">
      <a class="box_link" href="#">
        <img class="box_img" src="https://bit.ly/3aF4Kt7">
      <p class="box_title"> 화요일 화요일 화요일 화요일 화요일 화요일 화요일 화요일 화요일 </p>
      <p class="box_content">
        우는 오는 마리아 별이 별 그리워 새겨지는 계십니다. 무성할 밤을 어머님, 아이들의 옥 잔디가 언덕 어머니, 때 거외다. 위에도 벌레는 말 버리었습니다. 다하지 아스라히 된 내린 가득 다
        있습니다. 된 이름을 라이너 별 아직 잔디가 하나에 새겨지는 때 봅니다. 말 너무나 무덤 별 하나 계십니다. 이름자 이름을 프랑시스 나의 하나에 하나에 있습니다. 계집애들의 노새, 하나에 내린
        보고, 봅니다. 계집애들의 없이 계절이 있습니다.
      </p>
      </a>
    </li>

    <!-- box (2-3)  -->
    <li class="index_box">
      <a class="box_link" href="#">
        <img class="box_img" src="https://bit.ly/3aF4Kt7">
      <p class="box_title"> 수요일 수요일 수요일 수요일 수요일 수요일 수요일 수요일 </p>
      <p class="box_content">
        우는 오는 마리아 별이 별 그리워 새겨지는 계십니다. 무성할 밤을 어머님, 아이들의 옥 잔디가 언덕 어머니, 때 거외다. 위에도 벌레는 말 버리었습니다. 다하지 아스라히 된 내린 가득 다
        있습니다. 된 이름을 라이너 별 아직 잔디가 하나에 새겨지는 때 봅니다. 말 너무나 무덤 별 하나 계십니다. 이름자 이름을 프랑시스 나의 하나에 하나에 있습니다. 계집애들의 노새, 하나에 내린
        보고, 봅니다. 계집애들의 없이 계절이 있습니다.
      </p>
      </a>
    </li>
  </ul>
</div>

</div> 

	
  
  	 <!-- import footer -->
      <footer th:replace="layout/fragment :: fr_footer"></footer>
  
  <script type="text/javascript" src="/js/index.js"></script>

</body>
</html>