<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" class="indexhtml">
<!-- CSS -->
<link rel="stylesheet" href="/css/mypage.css" />
<head>
<meta charset="UTF-8">
<title>Mypage Test</title>
</head>
<body>


<div class="mypage_container" >


			
			
			
		
			<div class="profileimg_wrap">
				<div class="profile_img">
					<img src="https://bit.ly/3aF4Kt7">
				</div>

			
				<div class="container">
				<div class="item">
				<div id="profiledetail_wrap_middle">
				<div class="profiledetail_wrap_user_name" th:text=${nickName}>NickName</div><br><br>
					<a href="/memberedit" class="memberedit">정보수정</a>
				</div>
				</div>
				</div>
			</div>
			

	
<!-- 	===================================
		<div th:text="${memberId}"></div>
		<div th:text="${boards.member?.id}"></div>
<li th:each="board, count : ${boards}" class="list_box">
<p th:text="${board.member?.id}"></p></li>
		============================== -->
			
			<div class="container">
			
			<div th:each="board : ${boards}" class="item"
				th:if="${board.member?.nickname == nickName}">
				<a
				class="list_box_link" th:href="@{/board/detail(id=${board.id})}">
					<img class="list_box_img" src="/images/boximg.png">
					<p th:text="${board.title}" class="list_box_title"></p>
					<!-- <p th:text="${board.content}" class="list_box_content"></p> -->
			</a></div>
			</div>
			</div>

	<!-- <li class="my_write_lists" th:each="board : ${boards}"><a
			class="list_box_link" th:href="@{/board/detail(id=${board.id})}">
				<img class="list_box_img" src="/images/boximg.png">
				<p th:text="${board.title}" class="list_box_title"></p>
				<p th:text="${board.content}" class="list_box_content"></p>
		</a></li> -->


	<!--             <div class="my_write_lists">
                <div class="my_write_lists_thum">
                    <a href="#"><img class="box_img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQcm74zh4fB2Q3hnnAcK2_fi2fm08QNVZ752Q&usqp=CAU"></a>
                </div>
                <div class="my_write_lists_thum">
                    <a href="#"><img class="box_img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQcm74zh4fB2Q3hnnAcK2_fi2fm08QNVZ752Q&usqp=CAU"></a>
                </div>
                <div class="my_write_lists_thum">
                    <a href="#"><img class="box_img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQcm74zh4fB2Q3hnnAcK2_fi2fm08QNVZ752Q&usqp=CAU"></a>
                </div>
                <div class="my_write_lists_thum">
                    <a href="#"><img class="box_img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQcm74zh4fB2Q3hnnAcK2_fi2fm08QNVZ752Q&usqp=CAU"></a>
                </div>
                <div class="my_write_lists_thum">
                    <a href="#"><img class="box_img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQcm74zh4fB2Q3hnnAcK2_fi2fm08QNVZ752Q&usqp=CAU"></a>
                </div>
                <div class="my_write_lists_thum">
                    <a href="#"><img class="box_img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQcm74zh4fB2Q3hnnAcK2_fi2fm08QNVZ752Q&usqp=CAU"></a>
                </div>
                <div class="my_write_lists_thum">
                    <a href="#"><img class="box_img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQcm74zh4fB2Q3hnnAcK2_fi2fm08QNVZ752Q&usqp=CAU"></a>
                </div>
                <div class="my_write_lists_thum">
                    <a href="#"><img class="box_img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQcm74zh4fB2Q3hnnAcK2_fi2fm08QNVZ752Q&usqp=CAU"></a>
                </div>
                <div class="my_write_lists_thum">
                    <a href="#"><img class="box_img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQcm74zh4fB2Q3hnnAcK2_fi2fm08QNVZ752Q&usqp=CAU"></a>
                </div>
            </div> -->




	<!-- 	</div>



	<script src="js/insta.js"></script>
	<script src="js/profile.js"></script>
	<script>
		
	</script> -->
	
	</div>
</body>
</html>