<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" class="indexhtml">
<!-- CSS -->
  <link rel="stylesheet" href="/css/mypage.css" />
<head>
<meta charset="UTF-8">
<title>Mypage Test</title>
</head>
<body>


    <div class="mypage_container">



            <div class="profilepart_wrap">
                <div class="profileimg_wrap">
                    <div class="profile_img">
                        <img src="https://bit.ly/3aF4Kt7">
                    </div>
                </div>

                <div class="profiledetail_wrap">
                    <div class="profiledetail_wrap_top">
                        <div class="profiledetail_wrap_user_name">NickName</div>
                        
                    </div>

                    <div class="profiledetail_wrap_middle">
                    	<a href="modify.html" class="modify">정보수정</a>

                    
                    </div>
                    

                </div>
            </div>

            <div class="my_write_lists">
                <div class="my_write_lists_thum">
                    <a href="#"><img class="box_img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQcm74zh4fB2Q3hnnAcK2_fi2fm08QNVZ752Q&usqp=CAU"></a>
                </div>
                <div class="my_write_lists_thum">
                    <a href="#"><img class="box_img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQcm74zh4fB2Q3hnnAcK2_fi2fm08QNVZ752Q&usqp=CAU"></a>
                </div>
                <div class="my_write_lists_thum">
                    <a href="#"><img class="box_img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQcm74zh4fB2Q3hnnAcK2_fi2fm08QNVZ752Q&usqp=CAU"></a>
                </div>
                <div class="my_write_lists_thum">
                    <a href="#"><img class="box_img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQcm74zh4fB2Q3hnnAcK2_fi2fm08QNVZ752Q&usqp=CAU"></a>
                </div>
                <div class="my_write_lists_thum">
                    <a href="#"><img class="box_img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQcm74zh4fB2Q3hnnAcK2_fi2fm08QNVZ752Q&usqp=CAU"></a>
                </div>
                <div class="my_write_lists_thum">
                    <a href="#"><img class="box_img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQcm74zh4fB2Q3hnnAcK2_fi2fm08QNVZ752Q&usqp=CAU"></a>
                </div>
                <div class="my_write_lists_thum">
                    <a href="#"><img class="box_img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQcm74zh4fB2Q3hnnAcK2_fi2fm08QNVZ752Q&usqp=CAU"></a>
                </div>
                <div class="my_write_lists_thum">
                    <a href="#"><img class="box_img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQcm74zh4fB2Q3hnnAcK2_fi2fm08QNVZ752Q&usqp=CAU"></a>
                </div>
                <div class="my_write_lists_thum">
                    <a href="#"><img class="box_img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQcm74zh4fB2Q3hnnAcK2_fi2fm08QNVZ752Q&usqp=CAU"></a>
                </div>
            </div>


           

    </div>



<!--<script src="js/insta.js"></script>-->
<script src="js/profile.js"></script>
<script>



</script>
</body>
</html>